{% load static %}

<style>
        
 header {
       background-image: linear-gradient(to right,white,black);
 
  }
</style> 
<header class="header bg-dark" id="header">
        <div class="header_toggle bg-light"><i class='bx bx-menu' id="header-toggle" style = "text-align:center"></i>Expert Home</div>
        <!-- <div class="header_img"><img src="{%static 'healthapp/images/alone.jpg'%}" alt=""> </div> -->
    </header>
    <div class="l-navbar bg-dark" id="nav-bar">
        <nav class="nav">
            <div> <a href="#" class="nav_logo" style = "text-decoration: none"> <i class='bx bx-heart' style='color:#7d30ec'  ></i> <span class="nav_logo-name">Health And Fitness</span> </a>
                <div class="nav_list"> 
                    <a href="/expert_home/" class="nav_link active" style = "text-decoration: none"> 
                    <i class='bx bx-grid-alt nav_icon'></i> 
                    <span class="nav_name">Home</span> 
                  </a> 
                  <a href="/expert_edit/" class="nav_link" style = "text-decoration: none"> 
                   <i class='bx bx-user nav_icon'></i> 
                   <span class="nav_name">Edit Profile</span> 
                 </a> 
                 <a href="/compose_message/" class="nav_link" style = "text-decoration: none"> 
                   <i class='bx bx-message-square-detail nav_icon'></i> 
                   <span class="nav_name">Messages</span> 
                 </a> 
                 <a href="/inbox/" class="nav_link" style = "text-decoration: none"> 
                   <i class='bx bx-notification nav_icon'></i>
                   <span class="nav_name">Inbox</span> 
                 </a> 
                 <a href="/Tips/" class="nav_link" style = "text-decoration: none"> 
                   <i class='fas fa-tag'></i> 
                   <span class="nav_name">TIPS_content</span> 
                </a> 
                <a href="/add_details/" class="nav_link" style = "text-decoration: none"> 
                    <i class='fas fa-info'></i> 
                    <span class="nav_name">ADD_Details</span> 
                </a> 
                <a href="/expert_viewbooking/" class="nav_link" style = "text-decoration: none"> 
                  <i class='fas fa-circle text-primary'></i> 
                  <span class="nav_name">Expert_view_Booking</span> 
              </a> 
            </div>
        </div> <a href="{{'/expert_logout/'}}" class="nav_link" style = "text-decoration: none"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
   
<!--Container Main end--> 