{%extends 'healthapp/patient/patient_base.html'%}

{%load static%}
  
{%block title%} Health and Fitness|Booking_Request{%endblock%}

{%block content%}
<div class="container" style="margin-top:80px" >
     <center><span style="font-size:30px;font-family:Algerian;color:red;"><h1> Booking Details</h1></span></center>
     <div class="row">  
               <form  method="post" action="/booking_details/" class="needs-validation" novalidate style="margin-bottom:40px">
                  {% csrf_token %}
                  {%for row_data in booking%}
                  <div class="col-4" style="float:left;">
                   
                      <div class="card " style="margin-left:20px;">
                        <div class="card-body">
                          <h5 class="card-title"style="color:blue; font-size:30px">{{row_data.expert_user_name}}</h5>
                          <p class="card-text"style="color:red; font-size:20px">From-Date: {{row_data.from_Date}}</p>
                          <p class="card-text"style="color:red; font-size:20px">To-Date: {{row_data.to_Date}}</p>
                          <p class="card-text"style="color:red; font-size:20px">Status: {{row_data.status}}</p>
                        </div>
                    </div>
               </div>
                    {%endfor %}
               </form>
     </div> 
</div>            
{%endblock%}

{%block script2%}
if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
}
{%endblock %}